parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$username of class App\\\\Entity\\\\User constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Command/CreateAdminUserCommand.php

		-
			message: "#^Parameter \\#3 \\$password of class App\\\\Entity\\\\User constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Command/CreateAdminUserCommand.php

		-
			message: "#^Parameter \\#1 \\$invitee of method App\\\\Entity\\\\Card\\:\\:addInvitee\\(\\) expects App\\\\Entity\\\\Invitee, App\\\\Entity\\\\Invitee\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Card/CreateCardController.php

		-
			message: "#^Parameter \\#1 \\$invitee of method App\\\\Entity\\\\Card\\:\\:addInvitee\\(\\) expects App\\\\Entity\\\\Invitee, App\\\\Entity\\\\Invitee\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Card/UpdateCardController.php

		-
			message: "#^Only booleans are allowed in &&, int\\|null given on the left side\\.$#"
			count: 2
			path: src/Controller/Admin/Api/Invitee/CreateInviteeController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Entity\\\\Card\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Invitee/CreateInviteeController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Entity\\\\Table\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Invitee/CreateInviteeController.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, int\\|null given\\.$#"
			count: 2
			path: src/Controller/Admin/Api/Invitee/CreateInviteeController.php

		-
			message: "#^Only booleans are allowed in &&, int\\|null given on the left side\\.$#"
			count: 2
			path: src/Controller/Admin/Api/Invitee/UpdateInviteeController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Entity\\\\Card\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Invitee/UpdateInviteeController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Entity\\\\Table\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Invitee/UpdateInviteeController.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, int\\|null given\\.$#"
			count: 2
			path: src/Controller/Admin/Api/Invitee/UpdateInviteeController.php

		-
			message: "#^Parameter \\#1 \\$invitee of method App\\\\Entity\\\\Table\\:\\:addInvitee\\(\\) expects App\\\\Entity\\\\Invitee, App\\\\Entity\\\\Invitee\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Table/CreateTableController.php

		-
			message: "#^Parameter \\#1 \\$invitee of method App\\\\Entity\\\\Table\\:\\:addInvitee\\(\\) expects App\\\\Entity\\\\Invitee, App\\\\Entity\\\\Invitee\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/Table/UpdateTableController.php

		-
			message: "#^Only booleans are allowed in an if condition, App\\\\Entity\\\\User\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/Api/User/CreateUserController.php

		-
			message: "#^Only booleans are allowed in &&, App\\\\Entity\\\\User\\|null given on the right side\\.$#"
			count: 1
			path: src/Controller/Admin/Api/User/UpdateUserController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Entity\\\\Invitee\\|null given\\.$#"
			count: 1
			path: src/Controller/Invited/Api/UpdateInviteesOnCardController.php

		-
			message: "#^Parameter \\#1 \\$invitee of method App\\\\Entity\\\\Table\\:\\:addInvitee\\(\\) expects App\\\\Entity\\\\Invitee, object given\\.$#"
			count: 1
			path: src/DataFixtures/TableFixtures.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\Card\\\\CardListDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/Card/CardListDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Card\\\\CardListDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/Card/CardListDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Card\\\\CardListDto\\:\\:\\$inviteeIds \\(array\\<int\\>\\) does not accept array\\<int, int\\|null\\>\\.$#"
			count: 1
			path: src/Dto/Admin/Card/CardListDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\Card\\\\CardShowDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/Card/CardShowDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Card\\\\CardShowDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/Card/CardShowDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Card\\\\CardShowDto\\:\\:\\$inviteeIds \\(array\\<int\\>\\) does not accept array\\<int, int\\|null\\>\\.$#"
			count: 1
			path: src/Dto/Admin/Card/CardShowDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\Invitee\\\\InviteeListDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/Invitee/InviteeListDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Invitee\\\\InviteeListDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/Invitee/InviteeListDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\Invitee\\\\InviteeShowDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/Invitee/InviteeShowDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Invitee\\\\InviteeShowDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/Invitee/InviteeShowDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\Table\\\\TableListDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/Table/TableListDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Table\\\\TableListDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/Table/TableListDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Table\\\\TableListDto\\:\\:\\$inviteeIds \\(array\\<int\\>\\) does not accept array\\<int, int\\|null\\>\\.$#"
			count: 1
			path: src/Dto/Admin/Table/TableListDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\Table\\\\TableShowDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/Table/TableShowDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Table\\\\TableShowDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/Table/TableShowDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\Table\\\\TableShowDto\\:\\:\\$inviteeIds \\(array\\<int\\>\\) does not accept array\\<int, int\\|null\\>\\.$#"
			count: 1
			path: src/Dto/Admin/Table/TableShowDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\User\\\\UserListDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/User/UserListDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\User\\\\UserListDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/User/UserListDto.php

		-
			message: "#^Method App\\\\Dto\\\\Admin\\\\User\\\\UserShowDto\\:\\:__construct\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Admin/User/UserShowDto.php

		-
			message: "#^Property App\\\\Dto\\\\Admin\\\\User\\\\UserShowDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Admin/User/UserShowDto.php

		-
			message: "#^Method App\\\\Dto\\\\Common\\\\SortDirectionEnum\\:\\:array\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Common/SortDirectionEnum.php

		-
			message: "#^Method App\\\\Dto\\\\Common\\\\SortDirectionEnum\\:\\:names\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Common/SortDirectionEnum.php

		-
			message: "#^Method App\\\\Dto\\\\Common\\\\SortDirectionEnum\\:\\:values\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/Common/SortDirectionEnum.php

		-
			message: "#^Property App\\\\Dto\\\\Invited\\\\InvitedInviteeListDto\\:\\:\\$id \\(int\\) does not accept int\\|null\\.$#"
			count: 1
			path: src/Dto/Invited/InvitedInviteeListDto.php

		-
			message: "#^Property App\\\\Entity\\\\Card\\:\\:\\$invitees with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Card.php

		-
			message: "#^Property App\\\\Entity\\\\Table\\:\\:\\$invitees with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Table.php

		-
			message: "#^Only booleans are allowed in &&, Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\|null given on the left side\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Only booleans are allowed in &&, string\\|null given on the right side\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$roles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Migrations\\\\AbstractMigrationWithCommand\\:\\:execCommand\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Migrations/AbstractMigrationWithCommand.php

		-
			message: "#^Method App\\\\Migrations\\\\AbstractMigrationWithCommand\\:\\:loadFixture\\(\\) has parameter \\$group with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Migrations/AbstractMigrationWithCommand.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\User\\:\\:setPassword\\(\\)\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Instanceof between App\\\\Entity\\\\User and App\\\\Entity\\\\User will always evaluate to true\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 3
			path: src/Resolver/AppResolverMap.php

		-
			message: "#^Method App\\\\Resolver\\\\AppResolverMap\\:\\:map\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Resolver/AppResolverMap.php

		-
			message: "#^Argument of an invalid type array\\<string\\>\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Service/PermissionChecker.php

		-
			message: "#^Method App\\\\Service\\\\PermissionChecker\\:\\:__invoke\\(\\) has parameter \\$actions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/PermissionChecker.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Entity\\\\Card\\|null given\\.$#"
			count: 1
			path: src/Validator/Invited/HasOnlyUnchangedInviteesFromOwnCardValidator.php

		-
			message: "#^Only booleans are allowed in a negated boolean, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Validator/Invited/HasOnlyUnchangedInviteesFromOwnCardValidator.php

		-
			message: "#^Parameter \\#1 \\$key of function array_key_exists expects int\\|string, int\\|null given\\.$#"
			count: 1
			path: src/Validator/Invited/HasOnlyUnchangedInviteesFromOwnCardValidator.php
